.HTHoneyStory {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .backgroundImg {
    width: 100%;
    height: 100%;
  }
  
  .backgroundImg2 {
    position: absolute;
    top: 266spx;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .titleImg {
    position: absolute;
    top: 137px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .caption {
    width: 100%;
    position: absolute;
    top: 277px;
    text-align: center;
    color: #6e6037;
    font-weight: 600;
  }
  
  .sub {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    position: absolute;
    top: 357px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .subLeft,
  .subRight {
    width: 215px;
  }
  
  .subLeft .imgBox,
  .subRight .imgBox {
    width: 88px;
    height: 107px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .subLeft .imgBox img,
  .subRight .imgBox img {
    width: 100%;
    position: relative;
  }
  
  .subLeft h3,
  .subRight h3 {
    margin: 0;
  }
  
  .subLeft p,
  .subRight p {
    margin: 10px 0 0 0;
    color: #876e3f;
    font-size: 14px;
    letter-spacing: -1.5px;
    line-height: 20px;
  }
  
  .honeypot {
    position: absolute;
    top: 627px;
    left: 400px;
  }
  
  .honeypot .bee1 {
    width: 428px;
    height: 380px;
    overflow: hidden;
  }
  
  .honeypot .bee1 img {
    width: 100%;
    position: relative;
  }
  
  .honeypot .bee2 {
    position: absolute;
    top: 0px;
    left: 250px;
    width: 83px;
    height: 150px;
    overflow: hidden;
  }
  
  .honeypot .bee2 img {
    width: 100%;
    position: relative;
  }
  
  .honeypot2 {
    position: absolute;
    top: 647px;
    left: 1030px;
  }
  
  .honeypot2 .bee3 {
    position: absolute;
    top: 40px;
    left: 200px;
    width: 130px;
    height: 148px;
    overflow: hidden;
  }
  
  .honeypot2 .bee3 img {
    width: 100%;
    position: relative;
  }
  
  .honeypot2 .pot {
    position: absolute;
    top: 0px;
    left: 0px;
  }